{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block ContenidoQueCambia  %}
<body>
    <h1>Entregables</h1>
    <ul>
        {% for entregable in object_list %}
            <li>
                <p>Entregable: {{entregable.nombre}}</p>
                <p>
                    <a href="{% url 'DetailEn' entregable.id %}">Ver</a>
                    {%if user.is_superuser%}
                    |<a href="{% url 'EditEn' entregable.id %}">Editar</a>|
                    <a href="{% url 'DeleteEn' entregable.id %}">Borrar</a>
                    {%endif%}
                </p>
            </li>
        {%endfor%}

    </ul>
</body>
{% endblock  %}