{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block ContenidoQueCambia  %}

<body>
    <h1>Estudiantes</h1>
    <ul>
        {% for estudiante in object_list %}
            <li>
                <p>Estudiante: {{estudiante.apellido}},{{estudiante.nombre}}</p>
                <p>
                    <a href="{% url 'DetailE' estudiante.id %}">Ver</a>
                    {%if user.is_superuser%}
                    |<a href="{% url 'EditE' estudiante.id %}">Editar</a>|
                    <a href="{% url 'DeleteE' estudiante.id %}">Borrar</a>
                    {%endif%}

                </p>
            </li>
        {%endfor%}

    </ul>
</body>
{% endblock  %}
