{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block ContenidoQueCambia  %}

<body>
    <h1>Profesores</h1>
    <ul>
        {% for profesor in object_list %}
            <li>
                <p>NOMBRE: {{profesor.nombre}}</p>
                <p>
                    <a href="{% url 'DetailP' profesor.id %}">Ver</a>|
                    <a href="{% url 'EditP' profesor.id %}">Editar</a>|
                    <a href="{% url 'DeleteP' profesor.id %}">Borrar</a>

                </p>
            </li>
        {%endfor%}

    </ul>
</body>
{% endblock  %}